{
  "name":          "win2019",
  "version":       "0.001",
  "description":    "Initial Version of Win2019",
  "install_message": "OpenShift Windows 4.x Windows 2019 ",
  "packages": ["prewin1809_v1.0",
               "kube_v1.11.3",
               "ovn_16e1a3c",
               "ovs_2.70beta",
               "cni_0.3.1"]
}
